
opencl_hello_world/build/Debug/opencl_hello_world

*.d

opencl_hello_world/build/opencl_hello_world.build/Debug/opencl_hello_world.build/dgph~

opencl_hello_world/build/opencl_hello_world.build/Debug/opencl_hello_world.build/dgph

*.dia

*.o

*.hmap

*.pbxproj

*.LinkFileList

*.dat

cuda_hello_world/build/Debug/cuda_hello_world

cuda_hello_world/build/cuda_hello_world.build/Debug/cuda_hello_world.build/dgph~

cuda_hello_world/build/cuda_hello_world.build/Debug/cuda_hello_world.build/dgph

*.xcbkptlist

*.xcscheme

*.xcworkspacedata

*.plist

*.xcuserstate

*.dylib

cuda_hello_world/cuda_hello_world/kernels.ptx

*.cubin
cuda_hello_world/build/cuda_hello_world.build/Release/cuda_hello_world.build/dgph

*.bin

internal/homeworks_main/

internal/node_modules/

internal/homework_js_temp_folder/

internal/data/

internal/*.cpp

internal/a.out

cuda_hello_world/cuda_hello_world.xcodeproj/project.xcworkspace/xcshareddata/cuda_hello_world.xcscmblueprint

opencl_hello_world/opencl_hello_world.xcodeproj/project.xcworkspace/xcshareddata/opencl_hello_world.xcscmblueprint
